html {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    margin: 0;
    color: #434455;
    letter-spacing: 0.02em;
    font-size: 16px;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    border-color: transparent;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0;
}


/* --- Базовi стилі (Mobile First - до 768px) --- */

.container {
    /* max-width: 767px; */
    width: 100%;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and ((min-width: 768px)) {
    .container {
        max-width: 768px;
    }
}

@media screen and ((min-width: 1158px)) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/*------------------header--------------------*/

.body-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    position: relative;
    z-index: 10;
}

.body-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.logo {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    padding: 16px 0;
}

.logo-part {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.nav-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: none;
    gap: 40px;
}

.page-nav-link-active {
    font-weight: 500;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav-link {
    font-weight: 500;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav-link-active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    background: #404bbf;
}

.page-nav .page-nav-link:hover,
.page-nav .page-nav-link:focus {
    color: #404bbf;
}

.contacts {
    display: none;
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    gap: 12px;
    align-items: center;
}

.contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: #404bbf;
}

/* --- Кнопка бургер-меню --- */

.mobile-menu-open-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.mobile-menu-open-btn-icon {
    stroke: #2f2f37;
}

/* --- Мобільне меню --- */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    flex-direction: column;
    padding: 72px 24px 40px 16px;
    overflow: auto;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.mobile-menu-close-icon {
    fill: #2e2f42;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
    color: #404bbf;
}

.mobile-nav-link.current {
    color: #404bbf;
}

.mobile-menu-contacts {
    margin-bottom: 48px;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.mobile-contacts-link {
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link.phone {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.11;
    color: #4d5ae5;
}

.mobile-contacts-link.email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: #404bbf;
}

.mobile-contacts-link.phone:hover,
.mobile-contacts-link.phone:focus {
    color: #404bbf;
}

.mobile-social-list {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.mobile-social-list .list-social-item {
    width: 40px;
    height: 40px;
}

.mobile-social-list .social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list .social-link:hover,
.mobile-social-list .social-link:focus {
    background-color: #404bbf;
}

.mobile-social-list .icon {
    fill: #f4f4fd;
}

/*-------------------------1 section------------------------*/

/* --------Hero----- */

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/img-mobile/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e2f42;
    text-align: center;
    max-width: 320px;
    padding: 72px 0 72px;
    margin: 0 auto;
}

@media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/img-mobile/people-office-mobile_2x.jpg);
    }
}

.main-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 200px;
    margin: 0 auto 72px auto;
}

.button-order-service {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order-service:hover,
.button-order-service:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/*-----------------2section----------------------*/

/* --- Features --- */

.service-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.service-list-item {
    width: 100%;
}

.cervice-list-icon {
    display: none;
}

.our-company-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.our-company-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*---------------------------3 section---------------------------------*/

/* --- Team --- */

.team {
    background-color: #f4f4fd;
}

.main-title-team {
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-list-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
}

.team-list-item .social-link:hover,
.team-list-item .social-link:focus {
    background-color: #404bbf;
}

.container-team {
    padding: 32px 0;
    text-align: center;
}

.container-team .team-name-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
}

.container-team .team-name-text {
    font-weight: 400;
    text-align: center;
    margin-bottom: 8px;
}

.list-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.list-social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
    background-color: #404bbf;
}

.icon {
    fill: #f4f4fd;
}

/*-----------------------------4 section----------------------------*/

/* --- Portfolio --- */

.portfolio-title {
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.portfolio-list-item {
    width: 100%;
    max-width: 360px;
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item img {
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.portfolio-list-item:hover .overlay-text {
    transform: translateY(0%);
}

.container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.container-portfolio .our-portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 8px
}

.container-portfolio .portfolio-text {
    font-weight: 400;
    text-align: left;
}

/* --- Footer --- */

.footer-block {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-block .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.footer-about,
.footer-social,
.footer-subscribe {
    margin: 0;
    text-align: center;
    width: 100%;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.span-footer {
    color: #f4f4fd;
}

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    max-width: 264px;
    margin: 0 auto;
    text-align: left;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.list-social-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-block .list-social-item {
    width: 40px;
    height: 40px;
}

.footer-block .social-link:hover,
.footer-block .social-link:focus {
    background-color: #31d0aa;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-subscribe-label {
    width: 100%;
    max-width: 300px;
}

.footer-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 100%;
    height: 40px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    opacity: 0.6;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
    border-color: #4d5ae5;
    opacity: 1;
}

.footer-input::placeholder {
    color: #ffffff;
    opacity: 0.6;
}

.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 24px;
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404bbf;
}

.form-btn-svg {
    margin-left: 16px;
    fill: white;
}

/* --- Модельне вікно --- */

.backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 90%;
    max-width: 392px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10000;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open .modal {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.close-button-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-modal:hover,
.close-button-modal:focus {
    background-color: #404bbf;
    border: none;
}

.icon-cross {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-modal:hover .close-icon,
.close-button-modal:focus .close-icon {
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-container-label {
    margin-bottom: 8px;
}

.comment-container {
    margin-bottom: 16px;
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}

.container-input {
    position: relative;
}

.user-name-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
}

.user-name-input:focus {
    border-color: #4d5ae5;
}

.icon-person {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
    fill: #2e2f42;
}

.user-name-input:focus+.icon-person {
    fill: #4d5ae5;
}

.name-input:focus-within .icon-person {
    fill: #4d5ae5;
}

.comment-input {
    height: 120px;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    display: block;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input:focus {
    border-color: #4d5ae5;
    color: #2e2f42;
}

.comment-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.agreement {
    margin-bottom: 24px;
}

.agreement-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-weight: 400;
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
}

.span-privacy {
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    position: absolute;
    left: 0;
    top: 1px;
    /* transform: translateY(-50%); */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-input:checked .span-privacy {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.agreement-input:checked+.agreement-text>.span-privacy {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.pp-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    display: inline;
}

.button-order-service {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order-service:hover,
.button-order-service:focus {
    background-color: #404bbf;
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*------------------ Планшетні стилі (от 768px)--------------------- */


@media screen and (min-width: 768px) {
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    /* --- Header --- */

    .mobile-menu-open-btn {
        display: none;
    }

    .body-header .container {
        justify-content: flex-start;
    }

    .logo {
        margin-right: 120px;
    }

    .page-nav {
        display: flex;
    }

    .contacts {
        display: block;
        margin-left: auto;
    }

    .contact-list {
        flex-direction: column;
        gap: 5px;
        align-items: flex-end;
    }

    .contacts-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        padding: 0;
    }

    /* --- Hero --- */
    .hero {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-table.jpg);
    }

    @media (min-resolution: 2x) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/img-tablet/people-office-table-2X.jpg);
        }
    }

    .main-section-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    /* --- Features --- */

    .service-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: flex-start;
    }

    .service-list-item {
        flex-basis: calc((100% - 24px) / 2);
        width: auto;
    }

    .our-company-title {
        text-align: left;
        font-size: 36px;
        font-weight: 700;
    }

    .our-company-text {
        font-weight: 500;
    }

    /* --- Team --- */

    .team .container {
        width: 552px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }

    .team-list-item {
        flex-basis: calc((100% - 24px) / 2);
        width: 264px;
    }

    /* --- Portfolio --- */

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: flex-start;
    }

    .portfolio-list-item {
        flex-basis: calc((100% - 24px) / 2);
        width: auto;
        max-width: none;
    }

    /* --- Footer --- */

    .footer-block .container {
        width: 552px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        gap: 72px 24px;
    }

    .footer-about,
    .footer-social {
        text-align: left;
        width: auto;
        max-width: 264px;
    }

    .footer-subscribe {
        text-align: left;
    }

    .text-footer {
        margin-left: 0;
    }

    .footer-social-list {
        justify-content: flex-start;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
        width: auto;
        align-items: flex-start;
    }

    .form-label-email {
        width: 264px;
        max-width: none;
    }

    .footer-form-input {
        width: 264px;
    }

    /* --- Modal --- */

    .modal {
        max-width: 408px;
        padding: 72px 24px 24px 24px;
    }
}

/* --------------------- Десктопні стилі (від 1158px)------------------- */

@media screen and (min-width: 1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    /* --- Header --- */

    .logo {
        margin-right: 76px;
    }

    .contact-list {
        flex-direction: row;
        gap: 40px;
    }

    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }

    /* --- Hero --- */

    .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
    }

    @media (min-resolution: 2x) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/img-desc/people-office-desc_2x.jpg);
        }
    }

    .main-section-title {
        margin-bottom: 48px;
    }

    /* --- Features --- */

    .cervice-list-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .service-list {
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: space-between;
    }

    .service-list-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .our-company-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .our-company-text {
        font-weight: 400;
    }

    /* --- Team --- */

    .team .container {
        width: 1158px;
    }

    .team-list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }

    .team-list-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
        width: 264px;
    }

    .container-team {
        padding: 32px 16px;
    }

    /* --- Portfolio --- */

    .portfolio-list {
        gap: 48px 24px;
        justify-content: center;
    }

    .portfolio-list-item {
        flex-basis: calc((100% - 2 * 24px) / 3);
        width: auto;
    }

    /* --- Footer --- */

    .footer-block .container {
        width: 1158px;
        flex-wrap: nowrap;
        gap: 0;
        align-items: baseline;
    }

    .footer-about {
        margin-right: 120px;
        width: 264px;
        text-align: left;
    }

    .footer-social {
        margin-right: 80px;
        width: auto;
        text-align: left;
    }

    .footer-subscribe {
        margin-left: 0;
        width: auto;
        text-align: left;
    }

    .footer-form {
        width: auto;
    }

    .footer-subscribe-label {
        width: 264px;
    }
}